<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <!-- <section class="collabsable collabsable--expanded footer__section">
          <header class="collabsable__header">
            <h2 class="collabsable__heading footer__heading>">Item 1</h2>
            <img class="icon collabsable__chevron" src="images/chevron.svg" />
          </header>
          <div class="collabsable__content">
            <ul cla href="#">Migrations</a></li>
            </ul>
          </div>
        </section> -->
    <section class="collabsable footer__section">
      <header class="collabsable__header">
        <h2 class="collabsable__heading footer__heading">PRODUCTS</h2>
        <img class="icon collabsable__chevron" src="images/chevron.svg" />
      </header>
      <div class="collabsable__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collabsable footer__section">
      <header class="collabsable__header">
        <h2 class="collabsable__heading footer__heading">COMPANY</h2>
        <img class="icon collabsable__chevron" src="images/chevron.svg" />
      </header>
      <div class="collabsable__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affilitate</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>

    <section class="collabsable footer__section">
      <header class="collabsable__header">
        <h2 class="collabsable__heading footer__heading">SUPPORT</h2>
        <img class="icon collabsable__chevron" src="images/chevron.svg" />
      </header>
      <div class="collabsable__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>

    <section class="collabsable footer__section">
      <header class="collabsable__header">
        <h2 class="collabsable__heading footer__heading">DOMAINS</h2>
        <img class="icon collabsable__chevron" src="images/chevron.svg" />
      </header>ss="list">
              <li><a href="#">Website Hosting</a></li>
              <li><a href="#">Free Automated Wordpress</a></li>
              
      <div class="collabsable__content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2022</p>
    </section>
  </div>
</footer>
